@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification"/>
<div class="text-center">
    <h1 class="title">Student Database</h1>

    <a class="addButton bi-plus-square-fill" asp-area=" " asp-controller="Home" asp-action="Create"> New Student</a>
    
    <div class="row">
       
    @foreach(var obj in Model)
    {
        <div class="col-sm-3">
            <div class="card">
                    
                <div class="card-body">
                <div class="card-title">@obj.FirstName @obj.LastName<a class="editButton bi-pencil-square" asp-area="@obj.Id" asp-controller="Home" asp-action="Edit" asp-route-id="@obj.Id"></a></div>
            
                <p class="card-text ">Grade: @obj.Grade</p>
                <p class="card-text">GPA: @obj.GPA</p>
                       
                </div>
            </div>
        </div>
    }
      </div>
    
</div>
